@media screen and (min-width:1024px) {
  .header{
    display:flex;
    width:100%;
    justify-content: space-between;
    height:10vh;
    background:rgb(42, 42, 42);  
  }
  .logo{
    width:10rem;
    margin-top: 2rem;
    height:3rem
  }
  .header-menu
  {
    position:absolute;
    list-style: none;
    top: 1.5rem;
    display:flex;
    left:37rem;
    gap:2rem;
    color:white;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 1rem;
  }
 
  .header-menu>li:hover{
    cursor: pointer;
    color:orange;
  }
}
@media screen and (max-width:676px) {
  .header{
    display:flex;
    width:100%;
    justify-content: space-between;
    height:10vh;
    background:rgb(42, 42, 42);  
  }
  .logo{
    width:10rem;
    margin-top: 2rem;
    height:3rem
  }
  .header-menu
  {
    display: none;
  }
}
