.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.stroke-text{
  color:transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #252525;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.bt{
  position:fixed;
  left:90rem;
  top:40rem;
  z-index:3;
  width:fit-content
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (min-width:1024px) {
  
.App1{
  display:flex;
  width:100%;
  justify-content: space-between;
  background:rgb(42, 42, 42);
}
.left-h{
  padding:2rem;
  padding-top: 1.5rem;
  flex:3;
  display:flex;
  gap:2rem;
  flex-direction: column;
}
.thebestAdd{
  margin-top: 4rem;
  background-color: #303335;
  border-radius: 4rem;
  width:fit-content;
  padding:20px 13px;
  text-transform: uppercase;
  color:white;
  position:relative;
  display:flex;
  align-items: center;
  justify-content: flex-start;
}
.thebestAdd>span{
  z-index: 2;
}
.thebestAdd>div{
  position:absolute;
  background-color: rgb(0, 149, 255);
  width:5.4rem;
  height:80%;
  left:8px;
  z-index: 1;
  border-radius: 3rem;
  animation: 3s infinite alternate slidein;
}
@keyframes slidein {
  0%{
    left:0%;
  }
  50%{
    left:70%;
  }
  
}
.hero-text{
  display:flex;
  flex-direction: column;
  gap:1.5rem;
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: bold;
  color:white;
  text-overflow: inherit;
}
.hero-text>div:nth-of-type(3)
{
  font-size: 1rem;
  font-weight: 200;
  text-transform: none;
  letter-spacing: 1px;
  width:80%;
}
.figure{
  display:flex;
  gap:2rem;
}
.figure>div{
  display: flex;
  flex-direction: column;
}
.figure>div>span:nth-last-of-type(2)
{
  color:white;
  font-size: 1.5rem;
}
.figure>div>span:nth-last-of-type(1)
{
  color:gray;
  text-transform: uppercase;
}
.hero-button
{
  display:flex;
  gap:1rem;
  font-weight: normal;
}
.hero-button>:nth-last-of-type(2)
{
  color:white;
  background-color: rgb(0, 149, 255);
  width:8rem;
}
.hero-button>:nth-last-of-type(1)
{
  color:white;
  background-color: transparent;
  border:2px solid rgb(0, 149, 255);
  width:8rem;
}
.btn{
  background-color: white;
  padding:0.5rem;
  font-weight: bold;
  border:4px solid transparent;
  display:flex;
  align-items: center;
  justify-content: center;
  transition:  300ms all;
}
.btn:hover
{
  cursor: pointer;
}
.right-h{
  flex:1;
  position:relative;
  background:rgb(0, 149, 255)
}
.right-h>.btn{
  position:absolute;
  right:3rem;
  top:2rem;
  color:black;
}
.heart-rate
{
  display:flex;
  flex-direction: column;
  gap:1rem;
  background-color: gray;
  width:fit-content;
  padding:1rem;
  align-items: start;
  border-radius: 5px;
  position: absolute;
  right: 4rem;
  top:7rem
}
.heart-rate>img{
  position:relative;
  width:3rem
}
.heart-rate>:nth-last-of-type(2){
  color:rgb(45, 45, 45)
}
.heart-rate>:nth-last-of-type(1)
{
  color:white;
  font-size:2rem;
}
.hero-img{
  position: absolute;
  top:8rem;
  right: 12rem;
  width:23rem;
  z-index:2
}
.hero-img-back
{
  position:absolute;
  width:40rem;
  right: 6rem;
  top:5rem;
}
.calories
{
  display:flex;
  gap:1rem;
  background-color: #4d5052;
  border-radius: 5px;
  padding: 0rem;
  width:fit-content;
  position:absolute;
  top:43.5rem;
  right:38rem;
}
.calories>img{
  width:3rem;
}
.calories>div{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.calories>div>span:nth-last-of-type(1)
{
  color:white;
}
.calories>div>span:nth-last-of-type(2)
{
  color:white;
 margin-right: 10px;
 
}

}
@media screen and (max-width:767px) {
  .App1{
    display: flex;
    flex-direction: column;
    width:100%;
    overflow-x: hidden;
    height:auto;
    background:rgb(42, 42, 42);
  }
  .left-h{
    position:relative;
    width:100%;
    height:auto;
    color:white;
  }
  .thebestAdd{
    position:relative;
    width:85%;
    margin-top: 30%;
    height:7vh;
    left:10px;
    border-radius: 20px;
    font-size: 20px;
    background:#303335;
    
  }
  .thebestAdd>span{
    position:absolute;
    z-index:1;
    margin-top:1rem;
    font-size: 18px;
    left:0.7rem;
    text-transform: uppercase;
  }
  .thebestAdd>div{
    width:30%;
    height:6vh;
    margin-top: 1%;
    position:absolute;
    left:1%;
    border-radius: 20px;
    background-color: rgb(0, 149, 255);
    animation: 3s infinite alternate slidein;
  }
  @keyframes slidein {
    0%{
      left:0%;
    }
    50%{
      left:70%;
    }
    
  }
  .hero-text>div:nth-last-of-type(3){
    position:relative;
    left:2rem;
    margin-top:2rem;
    font-size:50px;
  }
  .hero-text>div:nth-last-of-type(1){
    position:relative;
    left:0.2rem;
    margin-top:2rem;
    font-size:18px;
  }
   .hero-text>div:nth-last-of-type(2){
    position:relative;
    left:2rem;
    margin-top:1.5rem;
    font-size:50px;
  }
  .figure{
    display:flex;
    gap:2rem;
    text-align: center;
    margin-top:20px;
  }
  .figure>div{
    display:flex;
    flex-direction: column;
    position:relative;
    left:1.2rem;
    margin-top: 20px;
  }
  .figure>div>span:nth-last-of-type(2){
    font-size: 30px;
  }
  .figure>div>span:nth-last-of-type(1){
    position:relative;
    left:5px;
  }
  .hero-button{
    position:relative;
    color:white;
    display:flex;
    gap:2rem;
    align-items: center;
  }
  .hero-button>button:nth-last-of-type(2)
  {
    position:relative;
    margin-top: 40px;
    background-color: #61dafb;
    left:40px;
  }
  .hero-button>button:nth-last-of-type(1)
  {
    position:relative;
    margin-top: 40px;
    margin-left: 40px;
    color:white;
    border:2px solid #61dafb;
  }
  .right-h{
    position:relative;
    width:100%;
    height:90vh;
  }
  .right-h>button{
    position:absolute;
    color:white;
    margin-top:30rem;
    background:rgb(9, 188, 237);
    left:18rem;
  }
  .btn:hover{
    color:rgb(73, 73, 73);
    background-color: #61dafb;
  }
  .heart-rate{
    position:absolute;
  }
  .heart-rate>img{
    position:absolute;
    left:21rem;
    margin-top:10rem;
    width:5rem;
  }
  .heart-rate>span:nth-last-of-type(2){
    color:white;
    position:relative;
    top:15rem;
    left:21.5rem;
    font-size:1rem
    
  }
  
  .calories>img{
    position:absolute;
    width:5rem;
    margin-top:-3.5rem;
    left: 21rem;
  }
  .calories>div{
    position:relative;
    color:white;
    display:flex;
    flex-direction: column;
    text-align: center;
    left:9rem;
    margin-top:-10rem;
  }
  .calories>div>span:nth-last-of-type(1){
    position:relative;
    left:10px;
  }
  .calories>div>span:nth-last-of-type(2){
    position:relative;
    left:10px;
  }
  .heart-rate>span:nth-last-of-type(1){
    color:white;
    position:relative;
    top:16.5rem;
    left:17rem;
    font-size:1rem
    
  }
  img{
    width:70%;
    margin-top: 5rem; 
  }
  .hero-img{
    width:60%;
    margin-top:120px
  }
}
  
