@media screen and (min-width:1024px) {
    

.whyContiner{
    width:100%;
    display:flex;
    background:rgb(42, 42, 42);
    color:white;
}
.whyimg{
    flex:2;
    margin-left: 10rem;
}
.whyus{
    flex:2;
    display:flex;
    flex-direction: column;
    margin-top: 10rem;;
}
.whyus>span:nth-last-of-type(7)
{
    font-size: 60px;
    text-transform: uppercase;
}
.whyus>span:nth-last-of-type(6)
{
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 2rem;
}
.whyus>span:nth-last-of-type(5)
{
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 1rem;
}
.whyus>span:nth-last-of-type(4)
{
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 1rem;
}
.whyus>span:nth-last-of-type(3)
{
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 1rem;
}
.whyus>span:nth-last-of-type(2)
{
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-left: 2rem;
}
.whyus>span:nth-last-of-type(1)
{
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 4rem;
}
}
@media screen and (max-width:600px){
    .whyContiner{
        position: relative;
        background-color: rgb(42, 42, 42);
        display:flex;
        width:100%;
        overflow-x: hidden;
        height:auto;
        flex-direction: column;
    }
    .whyimg
    {
        position:relative;
        top: 5rem;
        width:100%;
        height:60vh;
    }
    .whyimg>img{
        position:relative;
        width:100%;
        height:100%;
    }
    .whyus{
        display:flex;
        flex-direction: column;
        color:white;
        gap:1rem;
        position:relative;
        margin-top: 10rem;;
    }
    .whyus>span{
        position:relative;
        left:3rem;
        font-size: 1rem;
    }
    .whyus>span:nth-last-of-type(1)
    {
        position:relative;
        font-size: 3rem;
        left: 5rem;
    }
    .whyus>span:nth-last-of-type(2)
    {
        position:relative;
        font-size: 1.5rem;
        left: 5rem;
        
    }
    .whyus>span:nth-last-of-type(7)
    {
        font-size: 3rem;
    }
   
}